{% load static %}
<nav>
    <div class="logo-wrapper">
        <a href="{% url 'index' %}"><img src="{% static 'img/logo-banner.png' %}" alt="" class="logo"></a>
    </div>
    <input type="checkbox" id="btn" class="nav-check hide">
    <label for="btn" class="icon">
        <span class="nav-icon"></span>
    </label>
    <ul>
        {% if request.user.is_authenticated and request.user.first_name %}
            <li>
                <label for="btn-1" class="show"><i class="fas fa-user"></i> Hi {{ request.user.first_name }} +</label>
                <a href="#"><i class="fas fa-user"></i> Hi {{ request.user.first_name }}</a>
                <input type="checkbox" id="btn-1" class="hide">
                <ul>
                    <li><a href="{% url 'order_history' %}">Order history</a></li>
                    <li><a href="{% url 'signout' %}">Sign out</a></li>
                </ul>
            </li>
        {% else %}
            <li><a href="{% url 'signup' %}">Sign up</a></li>
            <li><a href="{% url 'signin' %}">Login</a></li>
        {% endif %}
        <li>
            <label for="btn-2" class="show">Categories +</label>
            <a href="#">Categories</a>
            <input type="checkbox" id="btn-2" class="hide">
            <ul>
                <li><a href="{% url 'index' %}">All Products</a></li>
                {% for category in links %}
                <li><a href="{{ category.get_url }}">{{ category.name }}</a></li>
                {% endfor %}
            </ul>
        </li>
        <li><a href="#">Contact</a></li>
        <li>
            <form action="{% url 'search' %}" method="GET">
                <label class="form-group">
                    <input type="text" name="search" class="search-bar">
                    <button type="submit" class="search-btn"><i class="fas fa-search"></i></button>
                </label>
            </form>
        </li>
        <li class="cart-li">
            <a href="{% url 'cart_detail' %}"><i class="fas fa-shopping-cart"></i></a>{% if item_count > 0 %}<span class="cart-count">{{ item_count }}</span>{% endif %}
        </li>
    </ul>
</nav>