{% load static %}
<nav>
    <div class="logo-wrapper">
        <a href="{% url 'index' %}"><img src="{% static 'img/logo-banner.png' %}" alt="" class="logo"></a>
    </div>
    <input type="checkbox" id="btn" class="nav-check hide">
    <label for="btn" class="icon">
        <span class="nav-icon"></span>
    </label>
    <ul>
        <li>
            <label for="btn-1" class="show">Categories +</label>
            <a href="#">Categories</a>
            <input type="checkbox" id="btn-1" class="hide">
            <ul>
                <li><a href="#">Category 1</a></li>
                <li><a href="#">Category 2</a></li>
                <li><a href="#">Category 3</a></li>
            </ul>
        </li>
        <li><a href="#">Contact</a></li>
        <li><a href="#">About</a></li>
        <li>
            <form>
                {% csrf_token %}
                <label class="form-group">
                    <input type="text" name="search" class="form-control">
                    <button type="button" class="search-btn"><i class="fas fa-search"></i></button>
                </label>
            </form>
        </li>
    </ul>
</nav>