{% extends 'base.html' %}

{% load static %}

{% block title %}Cart{% endblock %}

{% block content %}

{% if not cart_items %}
<section>
    <div class="container">
        <div class="row">
            <h1 class="section-header">Your shopping cart is empty</h1>
            <p>Please click <a href="{% url 'index' %}">here</a> to continue shopping.</p>
        </div>
    </div>
</section>
{% else %}
<section>
    <div class="container">
        <div class="row">
            <h1 class="section-header">Your shopping cart</h1>
        </div>
    </div>

    <div class="container-fluid">
        <div class="row">
            <div class="cart-wrapper">
                <table>
                    <thead>
                        <tr>
                            <th colspan="2">Product</th>
                            <th>Price</th>
                            <th colspan="2">Quantity</th>
                            <th>Total</th>
                        </tr>
                    </thead>
                    {% for cart_item in cart_items %}
                    <tr>
                        <td class="cart-image">
                            <div class="table-responsive-header text-left">Product</div>
                            <a href="{{ cart_item.product.get_url }}"><img src="{{ cart_item.product.image.url }}" alt="{{ cart_item.product.name }}"></a>
                        </td>
                        <td class="text-left"><a href="{{ cart_item.product.get_url }}">{{ cart_item.product.name }}</a></td>
                        <td>
                            <div class="table-responsive-header">Unit Price</div>
                            <div class="table-responsive-content">${{ cart_item.product.price }}</div>
                        </td>
                        <td>
                            <div class="table-responsive-header">Quantity</div>
                            <input type="text" name="quantity" id="quantity{{ cart_item.product.id }}" class="product-form-quantity" value="{{ cart_item.quantity }}" min="0">
                        </td>
                        <td>
                            <div class="quantity-wrapper">
                                <span class="btn btn-quantity" id="subtract" data-product="{{ cart_item.product.id }}"><i class="fas fa-minus"></i></span>
                                <!-- <input type="text" name="quantity" id="quantity" class="product-form-quantity" value="{{ cart_item.quantity }}"> -->
                                {% if cart_item.quantity < cart_item.product.stock %}
                                <span data-product="{{ cart_item.product.id }}" class="btn btn-quantity mx-5" id="add"><i class="fas fa-plus"></i></span>
                                {% else %}
                                <span class="btn btn-quantity disabled mx-5" id="add"><i class="fas fa-plus"></i></span>
                                {% endif %}
                                <span class="btn btn-quantity" id="delete" data-product="{{ cart_item.product.id }}"><i class="fas fa-times"></i></span>
                            </div>
                        </td>
                        <td>
                            <div class="table-responsive-header">Total Price</div>
                            <div class="table-responsive-content">${{ cart_item.sub_total }}</div>
                        </td>
                    </tr>
                    {% endfor %}
                </table>
            </div>
            <div class="cart-wrapper">
                <table>
                    <thead>
                        <tr>
                            <th colspan="4">
                                Check out
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Please review your cart items before proceeding with your payment.</td>
                        </tr>
                        <tr>
                            <td>Your total is: <strong>${{ total }}</strong></td>
                        </tr>
                    </tbody>
                </table>
                <div>
                    <a href="{% url 'index' %}">
                        <button class="btn btn-submit">Continue Shopping</button>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
{% endif %}
    
    
{% endblock %}