{% extends 'base.html' %}

{% block title %}Contact Us{% endblock %}

{% block content %}
    <div class="container">
        <div class="row mt-5">
            <h1 class="section-header">Contact Us</h1>
        </div>
        
        {% if messages %}
            <div class="message-block">
                {% for message in messages %}
                    {{ message }}
                {% endfor %}
                <span class="message-close-btn">&times;</span>
            </div>
        {% endif %}

        <div class="contact-wrapper">
            <p class="contact-detail">Please do not hesitate to contact us via any of the methods shown below. We love to help with queries, we love to talk audio, and we love to build relationships with our customers - get in touch today.</p>
            <h1 class="contact-header">Opening Hours</h1>
            <p class="contact-detail">Monday-Saturday, 09:30-18:00 (EST)<br>Our offices and showroom are closed on Sundays and Bank Holidays.</p>
            <h1 class="contact-header">Telephone</h1>
            <p class="contact-detail"><a href="tel:+">(555) 555-1234</a><br>Our staff are available to help during the opening hours shown above.</p>
            <h1 class="contact-header">Email</h1>
            <p class="contact-detail"><a href="mailto:audio24.headphones@gmail.com">audio24.headphones@gmail.com</a><br>We aim to answer all email within 24 hours. If your query is urgent, please try phoning us instead.</p>
            <h1 class="contact-header">Address</h1>
            <p class="contact-detail">
                Audio24<br>
                22 Grove St,<br>
                New York,<br>
                NY 10014,<br>
                USA
            </p>
            <h1 class="contact-header">Map Location</h1>
            <div id='map' style='width: 100%; height: 300px;'></div>
            <script>
            mapboxgl.accessToken = '{{ mapbox_access_token }}';
            var map = new mapboxgl.Map({
                container: 'map',
                style: 'mapbox://styles/mapbox/streets-v11',
                center: [-74.0053,40.7324],
                zoom: 17
            });

            var marker = new mapboxgl.Marker()
                .setLngLat([-74.0053,40.7324])
                .addTo(map);
            </script>
            <h1 class="contact-header mt-15">Make an Enquiry</h1>
            <div class="contact-form-wrapper">
                <form method="post">
                    {% csrf_token %}
                    <label for="name">Name<span class="form-required">*</span></label>
                    <input type="text" name="name" id="name" {% if request.user.is_authenticated %}value="{{ request.user.first_name }} {{ request.user.last_name }}"{% endif %} required>
                    <label for="phone">Phone</label>
                    <input type="text" name="phone" id="phone">
                    <label for="email">Email<span class="form-required">*</span></label>
                    <input type="email" name="email" id="email" {% if request.user.is_authenticated %}value="{{ request.user.email }}"{% endif %} required>
                    <label for="subject">Subject</label>
                    <input type="text" name="subject" id="subject">
                    <label for="body">Your Message<span class="form-required">*</span></label>
                    <textarea name="body" required></textarea>
                    <button type="submit" class="btn btn-submit">Submit</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}