{% extends 'base.html' %}

{% load static %}

{% load humanize %}

{% block title %}Price Match Guarantee{% endblock %}

{% block content %}
    <div class="container">
        <div class="privacy-wrapper mt-5">
            <h1 class="section-header">Price Match Guarantee</h1>
            <p>We will match the current pre-tax price for identical, immediately available products from authorized USA online dealers (with a 4 star rating or above) based on the <strong>total purchase price of our competitor, including shipping. </strong>We will also match prices post purchase if we lower our price within 30 days of your purchase. </p>
            <p>Our Price Match Guarantee is not available on gray-market items (sold without warranty) by an unauthorized dealer (not every seller on Amazon is an authorized dealer, and for some manufacturers, Amazon itself is not an authorized dealer—for a complete list of authorized dealers, please visit the manufacturer's website).</p>
            <p><strong>Price Match Guarantee is not eligible for further discount code.</strong></p>
            <p><strong>The Guarantee is limited to one price match per identical item, per guest and does not apply to:</strong> the online prices of retailers not listed clearly on their site; offers that include financing, gift card offers, bundling of items, free items, pricing errors, mail-in offers, coupon offers; items that are advertised as limited-quantity, out of stock, open-box, clearance, refurbished/used items; items that are discontinued and/or end-of-life; and our competitor’s Deal of the Day, daily deals, special hour sale event items and credit card offers.</p>
            <p>In order to get price match guarantee pricing, simply use the "price match" button on the product page. You can also send any applicable competitors printed or web ad to <strong>sales@audio24.com</strong> along with a link to the product you would like to buy <em>(to avoid our responses landing in your spam folder, we recommend adding sales@audio24.com to your contacts)</em>.</p>
        </div>
    </div>
{% endblock %}