{% extends 'base.html' %}

{% load static %}

{% block title %}Home{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <img src="{% static 'img/hero.png' %}" alt="" class="hero">
        </div>
    </div>
    <section>
        <div class="container">
            <div class="row">
                <h1 class="section-header">All Products</h1>
            </div>
        </div>

        <div class="container">
            <div class="row">
                {% for product in products %}
                    <div class="card-wrapper">
                        <div class="card">
                            <div class="card-image">
                                <a href="{{ product.get_url }}"><img src="{{ product.image.url }}" alt="{{ product.name }}"></a>
                                
                            </div>
                            <div class="card-footer">
                                <p>{{ product.name }}</p>
                                <div class="card-price">
                                    <p>${{ product.price }}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>

{% endblock %}