{% extends 'base.html' %}

{% load static %}

{% load humanize %}

{% block title %}Order Details{% endblock %}

{% block content %}
    <div class="container">
        <div class="row mt-5">
            <h1 class="section-header">Order Details</h1>
        </div>
        <div class="row product-detail">
            <table>
                <tr>
                    <td class="text-left" colspan="2">
                        <strong>Order: </strong>#{{ order.id }} <br>
                        <strong>Date: </strong>{{ order.created | date:"d M Y" }} <br>
                        <strong>Order Total: </strong>${{ order.total | intcomma }} <br>
                        <strong>Order Status: </strong><i class="fas fa-check"></i> Complete
                    </td>
                    <td class="text-left" colspan="2">
                        <strong>Billing Address: </strong><br>
                        {{ order.billingName }} <br>
                        {{ order.billingAddress1 }} <br>
                        {{ order.billingCity }} <br>
                        {{ order.billingPostcode }} <br>
                        {{ order.billingCountry }}
                    </td>
                </tr>
            </table>
            <table>
                <thead>
                    <tr>
                        <th><strong>Product Description</strong></th>
                        <th><strong>Qty</strong></th>
                        <th><strong>Unit Price</strong></th>
                        <th><strong>Sub-Total</strong></th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in order_items %}
                        <tr>
                            <td>
                                <div class="table-responsive-header">Product Description</div>
                                <div class="table-responsive-content">{{ item.product }}</div>
                            </td>
                            <td>
                                <div class="table-responsive-header">Qty</div>
                                <div class="table-responsive-content">{{ item.quantity }}</div>
                            </td>
                            <td>
                                <div class="table-responsive-header">Unit Price</div>
                                <div class="table-responsive-content">${{ item.price | intcomma }}</div>
                            </td>
                            <td>
                                <div class="table-responsive-header">Sub-Total</div>
                                <div class="table-responsive-content">${{ item.sub_total | intcomma }}</div>
                            </td>
                        </tr>
                    {% endfor %}
                    <tr>
                        <td colspan="2"></td>
                        <td><strong>Total</strong></td>
                        <td>${{ order.total | intcomma }}</td>
                    </tr>
                    <tr>
                        <td colspan="2"></td>
                        <td><strong>Total Paid</strong></td>
                        <td>${{ order.total | intcomma }}</td>
                    </tr>
                </tbody>
            </table>
            <table>
                <tr>
                    <td class="text-left" colspan="2">
                        <strong>Shipping Address: </strong><br>
                        {{ order.shippingName }} <br>
                        {{ order.shippingAddress1 }} <br>
                        {{ order.shippingCity }} <br>
                        {{ order.shippingPostcode }} <br>
                        {{ order.shippingCountry }}
                    </td>
                    <td class="text-left" colspan="2">
                        <strong>Payment Details: </strong> <br>
                        The order #{{ order.id }} has been paid successfully
                    </td>
                </tr>
            </table>
            <button class="btn btn-submit" onclick="window.print();"><i class="fas fa-print"></i> Print Order</button>
        </div>
    </div>
{% endblock %}