{% extends 'base.html' %}

{% load static %}

{% block title %}Order History{% endblock %}

{% block content %}
    <div class="container">
        <div class="row mt-5">
            <h1 class="section-header">Order history</h1>
        </div>
        <div class="row">
            {% if order_details %}
            <table>
                <thead>
                    <tr>
                        <th>Order Number</th>
                        <th>Order Date</th>
                        <th>Total Amount</th>
                        <th>Status</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    {% for order in order_details %}
                        <tr>
                            <td>
                                <div class="table-responsive-header">Order Number</div>
                                <div class="table-responsive-content">{{ order.id }}</div>
                            </td>
                            <td>
                                <div class="table-responsive-header">Order Date</div>
                                <div class="table-responsive-content">{{ order.created | date:"d M Y"}}</div>
                            </td>
                            <td>
                                <div class="table-responsive-header">Total Amount</div>
                                <div class="table-responsive-content">{{ order.total }}</div>
                            </td>
                            <td>
                                <div class="table-responsive-header">Status</div>
                                <div class="table-responsive-content"><i class="fas fa-check"></i></div>
                            </td>
                            <td>
                                <div class="table-responsive-header">Action</div>
                                <div class="table-responsive-content"><a href="{% url 'order_detail' order.id %}">View Order</a></div>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            {% else %}
            <p>You have not placed any orders yet. Please click <a href="{% url 'index' %}">here</a> to continue shopping.</p>
            {% endif %}
        </div>
    </div>
{% endblock %}