{% extends 'base.html' %}

{% load static %}

{% load humanize %}

{% block title %}Price Beater{% endblock %}

{% block content %}
    <div class="container">
        <div class="privacy-wrapper mt-5">
            <h1 class="section-header">Price Beater Privacy Policy</h1>
            <p>Price Beater "the App” provides tools for offering a price guarantee "the Service" to merchants who use Shopify to power their stores. This Privacy Policy describes how personal information is collected, used, and shared when you install or use the App in connection with your Shopify-supported store.</p>
            <h2>Personal Information the App Collects</h2>
            <p>When you install the App, we are automatically able to access certain types of information from your Shopify account:</p>
            <p>
                <ul>
                    <li>Read products, variants and collections - we use this to get product information</li>
                    <li>Modify script tags in your store's theme template files - we use this to insert JavaScript file needed to show Price Beater widget</li>
                    <li>Modify Price Rules - we use this to create a discount code</li>
                </ul>
            </p>
            <p>Additionally, we collect the following types of personal information from you and/or your customers once you have installed the App:</p>
            <p>
                <ul>
                    <li>Information about you and others who may access the App on behalf of your store, such as your name, address, email address, phone number, and billing information;</li>
                    <li>Information about individuals who visit your store, such as:
                        <ul>
                            <li>user agent (aggregated technical information related to the browser and device)</li>
                            <li>time stamp (date, time)</li>
                            <li>anonymized IP address</li>
                        </ul>
                    </li>
                    <li>Information about individuals who submit Price Beater form via the App, such as:
                        <ul>
                            <li>Name</li>
                            <li>Phone</li>
                            <li>Email</li>
                        </ul>
                    </li>
                </ul>
            </p>
            <p>We collect personal information directly from the relevant individual, through your Shopify account, or using the following technologies:</p>
            <p>
                <ul>
                    <li>"Cookies" are data files that are placed on your device or computer and often include an anonymous unique identifier. For more information about cookies, and how to disable cookies, visit http://www.allaboutcookies.org.</li>
                    <li>"Log files" track actions occurring on the Site, and collect data including your IP address, browser type, Internet service provider, referring/exit pages, and date/time stamps.</li>
                    <li>"Web beacons," "tags," and "pixels" are electronic files used to record information about how you browse the Site.</li>
                </ul>
            </p>
            <h2>How Do We Use Your Personal Information?</h2>
            <p>We use the personal information we collect from you and your customers in order to provide the Service and to operate the App. Additionally, we use this personal information to: Communicate with you; Optimize or improve the App; and Provide you with information or advertising relating to our products or services. </p>
            <h2>Sharing Your Personal Information</h2>
            <h3>Third Parties</h3>
            <p>Some of the personal data collected is shared with third party service providers and our business partners.</p>
            <h3>Google</h3>
            <p>We use GSuite by Google. All email we receive passes through Google Mail, and all data associated with email such as your email address and any headers are stored by Google. In addition we use Google Drive to store spreadsheets and other documents which may include your name and email address. We use Google Analytics for our marketing website</p>
            <h3>Zendesk</h3>
            <p>Emails sent to support@audio24.com is stored in Zendesk, an email support platform. They store all data associated with email sent to this address, such as your email address and any headers.</p>
            <h3>AWS - Amazon Web Services</h3>
            <p>We use AWS SES - Simple Email Service to send transactional email to customers. To do this, we provide them with your email address whenever such an email is sent. We use AWS S3 service to store proof documents your customers upload to Price Beater and to backup database</p>
            <h3>CloudFlare</h3>
            <p>We use CloudFlare for DNS, CDN and DDoS protection.</p>
            <h3>Dropbox</h3>
            <p>We use Dropbox to store spreadsheets and other documents which may include your name and email address.</p>
            <p>Personal information may also be shared with a company that acquires our business, whether through merger, acquisition, bankruptcy, dissolution, reorganization, or other similar transaction or proceeding. If this happens, we will post a notice on our home page.</p>
            <p>Finally, we may also share your Personal Information to comply with applicable laws and regulations, to respond to a subpoena, search warrant or other lawful request for information we receive, or to otherwise protect our rights.</p>
            <h2>Behavioural Advertising</h2>
            <p>As described above, we use your Personal Information to provide you with targeted advertisements or marketing communications we believe may be of interest to you. For more information about how targeted advertising works, you can visit the Network Advertising Initiative’s ("NAI") educational page at http://www.networkadvertising.org/understanding-online-advertising/how-does-it-work.</p>
            <p>You can opt out of targeted advertising by:</p>
            <p>
                <ul>
                    <li>Google: https://support.google.com/ads/answer/2662922?hl=en-GB </li>
                    <li>Facebook: https://www.facebook.com/help/568137493302217</li>
                </ul>
            </p>
            <p>Additionally, you can opt out of some of these services by visiting the Digital Advertising Alliance’s opt-out portal at: http://optout.aboutads.info/.</p>
            <h2>Your Rights</h2>
            <p>If you are a European resident, you have the right to access personal information we hold about you and to ask that your personal information be corrected, updated, or deleted. If you would like to exercise this right, please contact us through the contact information below.</p>
            <p>Additionally, if you are a European resident we note that we are processing your information in order to fulfill contracts we might have with you (for example if you make an order through the Site), or otherwise to pursue our legitimate business interests listed above. Additionally, please note that your information will be transferred outside of Europe, including to Canada and the United States.</p>
            <h2>Data Retention</h2>
            <p>We will only retain your personal data for as long as necessary to fulfil the purposes we collected it for, including for the purposes of satisfying any legal, accounting, or reporting requirements.</p>
            <p>When deciding what the correct time is to keep the data for we look at its amount, nature and sensitivity, potential risk of harm from unauthorised use or disclosure, the processing purposes, if these can be achieved by other means and legal requirements.</p>
            <p>For tax purposes the law requires us to keep basic information about our customers (including Contact, Identity, Financial and Transaction Data) for six years after they stop being customers.</p>
            <h2>Changes</h2>
            <p>We may update this privacy policy from time to time in order to reflect, for example, changes to our practices or for other operational, legal or regulatory reasons.</p>
            <h2>Contact Us</h2>
            <p>For more information about our privacy practices, if you have questions, or if you would like to make a complaint, please contact us by e-mail at: support@audio24.com or by mail using the details provided below:</p>
            <p>
            DATA PROTECTION OFFICER <br>
            Audio24 Ltd.<br>
            102 Balmoral Avenue<br>
            Oxford<br>
            OX1 2BG<br>
            U.K.
            </p>
        </div>
    </div>
{% endblock %}