{% extends 'base.html' %}

{% load static %}

{% load humanize %}

{% block title %}{{ product.name }}{% endblock %}

{% block content %}
    <div class="container py-3">
        <div class="row mt-5">
            <div class="product-wrapper">
                <img src="{{ product.image.url }}" alt="">
            </div>
            <div class="product-wrapper">
                <div>
                    <h1 class="product-title">{{ product.name }}</h1>
                    <p class="product-sku">Product SKU:
                        <span class="variant-sku">UTOPIA</span>
                    </p>
                    <div class="product-quantity">
                        <p>
                            {% if product.stock <= 0 %}Out of stock
                            {% elif product.stock <= 10 %}Only {{ product.stock }} left in stock
                            {% else %}Buy now!{% endif %}
                        </p>
                    </div>
                    <div class="product-price">${{ product.price | intcomma }}</div>
                    <p class="monthly-price">Starting at ${{ twelve_monthly | intcomma }}/mo with 
                        <span class="affirm-logo">affirm</span>&nbsp;&nbsp;. 
                        <span class="affirm-modal-trigger">Prequalify now</span>
                    </p>

                    <!-- modal -->
                    <div class="affirm-modal">
                        <div class="affirm-modal-content">
                            <div class="affirm-modal-inner">
                                <div class="affirm-modal-header">
                                    <p class="affirm-logo">affirm</p>
                                    <h1 class="affirm-modal-title">Make easy monthly payments over 3, 6, or 12 months</h1>
                                    <p>Checking your eligibility won’t affect your credit.</p>
                                </div>
                                <div class="affirm-modal-body">
                                    <div>
                                        <p class="affirm-modal-body-title">Sample payments for ${{ product.price | intcomma }}</p>
                                    </div>
                                    <div class="affirm-modal-card-wrapper">
                                        <ul class="affirm-modal-list">
                                            <li class="affirm-modal-card">
                                                <div class="affirm-modal-card-header">
                                                    <div>
                                                        <p>${{ three_monthly | intcomma }} <span class="subscript">per month</span></p>
                                                    </div>
                                                    <div>
                                                        <p>3 <span class="subscript">months</span></p>
                                                    </div>
                                                </div>
                                                <div class="affirm-modal-card-body">
                                                    <div class="affirm-modal-card-info">
                                                        <p class="affirm-modal-card-info-header">APR</p>
                                                        <p>0.0%</p>
                                                    </div>
                                                    <div class="affirm-modal-card-info">
                                                        <p class="affirm-modal-card-info-header">Interest</p>
                                                        <p>$0.00</p>
                                                    </div>
                                                    <div class="affirm-modal-card-info">
                                                        <p class="affirm-modal-card-info-header">Total</p>
                                                        <p>${{ product.price | intcomma }}</p>
                                                    </div>
                                                </div>
                                            </li>
                                            
                                            <li class="affirm-modal-card">
                                                <div class="affirm-modal-card-header">
                                                    <div>
                                                        <p>${{ six_monthly | intcomma }} <span class="subscript">per month</span></p>
                                                    </div>
                                                    <div>
                                                        <p>6 <span class="subscript">months</span></p>
                                                    </div>
                                                </div>
                                                <div class="affirm-modal-card-body">
                                                    <div class="affirm-modal-card-info">
                                                        <p class="affirm-modal-card-info-header">APR</p>
                                                        <p>10.24%</p>
                                                    </div>
                                                    <div class="affirm-modal-card-info">
                                                        <p class="affirm-modal-card-info-header">Interest</p>
                                                        <p>${{ six_interest | intcomma }}</p>
                                                    </div>
                                                    <div class="affirm-modal-card-info">
                                                        <p class="affirm-modal-card-info-header">Total</p>
                                                        <p>${{ six_total | intcomma }}</p>
                                                    </div>
                                                </div>
                                            </li>
                                            
                                            <li class="affirm-modal-card">
                                                <div class="affirm-modal-card-header">
                                                    <div>
                                                        <p>${{ twelve_monthly | intcomma }} <span class="subscript">per month</span></p>
                                                    </div>
                                                    <div>
                                                        <p>12 <span class="subscript">months</span></p>
                                                    </div>
                                                </div>
                                                <div class="affirm-modal-card-body">
                                                    <div class="affirm-modal-card-info">
                                                        <p class="affirm-modal-card-info-header">APR</p>
                                                        <p>10.18%</p>
                                                    </div>
                                                    <div class="affirm-modal-card-info">
                                                        <p class="affirm-modal-card-info-header">Interest</p>
                                                        <p>${{ twelve_interest | intcomma }}</p>
                                                    </div>
                                                    <div class="affirm-modal-card-info">
                                                        <p class="affirm-modal-card-info-header">Total</p>
                                                        <p>${{ twelve_total | intcomma }}</p>
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <span class="affirm-modal-close-btn">&times;</span>
                        </div>
                    </div>
                    
                    <form action="{% url 'add_cart' product.id %}" method="post">
                        {% csrf_token %}
                        <div class="pricebeater">
                            <p>Found a better price? <a href="#">We can match it.</a></p>
                        </div>
                        <div class="product-action">
                            <div class="product-quantity-box">
                                <div class="quantity-wrapper">
                                    <span class="btn btn-quantity" id="subtract" data-product="{{ product.id }}"><i class="fas fa-minus"></i></span>
                                    <input type="text" name="quantity" id="quantity{{ product.id }}" class="product-form-quantity" value="1" min="0">
                                    <span data-product="{{ product.id }}" class="btn btn-quantity" id="add"><i class="fas fa-plus"></i></span>
                                </div>
                            </div>
                            <div class="product-item-submit">
                                <!-- <a href="{% url 'add_cart' product.id %}"><button type="button" class="btn btn-submit"><span class="fas fa-shopping-cart"></span> Add to cart</button></a> -->
                                <button type="submit" class="btn btn-submit"><span class="fas fa-shopping-cart"></span> Add to cart</button>
                            </div>
                            <div class="wishlist-btn">
                                <a href="{% url 'add_to_wishlist' product.id %}" title="Add to wishlist"><span class="far fa-heart"></span></a>
                            </div>
                        </div>
                        <div class="product-help-text">
                            <ul>
                                <li>
                                    <strong>Need help or product is sold out?
                                    <br>
                                    <a href="tel:+">Call (555) 555-1234</a> or <a href="mailto:">Email us</a>
                                    </strong>
                                </li>
                                <li><strong>Free expedited shipping on orders over $100</strong></li>
                            </ul>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <div class="row mt-5">
            <h1 class="product-description">Product Description</h1>
            <p class="product-detail">{{ product.description }}</p>
        </div>

        <div class="row mt-5">
            <h1 class="product-description">Reviews</h1>
            {% if user.is_authenticated %}
                <div class="review-form-wrapper">
                    <form method="POST">
                        {% csrf_token %}
                        <label for="stars">Rating</label>
                        <input type="hidden" name="rating" value="0" class="stars">
                        <div class="stars-wrapper">
                            <span class="far fa-star">&nbsp;</span>
                            <span class="far fa-star">&nbsp;</span>
                            <span class="far fa-star">&nbsp;</span>
                            <span class="far fa-star">&nbsp;</span>
                            <span class="far fa-star">&nbsp;</span>
                        </div>
                        <label for="title">Title of Review</label>
                        <input type="text" name="title" id="title">
                        <label for="content">How was your overall experience?</label>
                        <textarea name="content"></textarea>
                        <button type="submit" class="btn btn-submit mt-15">Submit</button>
                    </form>
                </div>
            {% endif %}
                <div class="review-main">
                    {% if reviews %}
                        {% for review in reviews %}
                            <div class="review-wrapper">
                                <div class="review-header">
                                    <div class="review-avatar-wrapper">
                                        <div class="review-avatar">{{ review.user.first_name | slice:":1" }}{{ review.user.last_name | slice:":1" }}</div>
                                    </div>
                                    <div class="review-header-details">
                                        <div class="review-rating-content">
                                            <div class="review-author">{{ review.user.first_name }} {{ review.user.last_name }}</div>
                                            <div class="review-rating">{% for i in "12345" %}<span class="fas fa-star">&nbsp;</span>{% endfor %}</div>
                                        </div>
                                        <div class="review-date-content">
                                            <div class="review-created">{{ review.created | date:"d M Y" }}</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="review-body">
                                    <div class="review-title">{{ review.title }}</div>
                                    <div class="review-content">{{ review.content }}</div>
                                </div>
                            </div>
                        {% endfor %}
                    {% endif %}
                </div>
        </div>
    </div>
{% endblock %}