{% extends 'base.html' %}

{% load static %}

{% block title %}{{ product.name }}{% endblock %}

{% block content %}
    <div class="container py-3">
        <div class="row mt-5">
            <div class="product-wrapper">
                <img src="{{ product.image.url }}" alt="">
            </div>
            <div class="product-wrapper">
                <div>
                    <h1 class="product-title">{{ product.name }}</h1>
                    <p class="product-sku">Product SKU:
                        <span class="variant-sku">UTOPIA</span>
                    </p>
                    <div class="product-quantity">
                        <p>
                            {% if product.stock <= 0 %}Out of stock
                            {% elif product.stock <= 10 %}Only {{ product.stock }} left in stock
                            {% else %}Buy now!{% endif %}
                        </p>
                    </div>
                    <div class="product-price">${{ product.price }}</div>
                    <p class="monthly-price">Starting at ${{ product.monthly }}/mo with 
                        <span class="affirm-logo">affirm</span>&nbsp;&nbsp;. 
                        <a href="#" class="modal-trigger">Prequalify now</a>
                    </p>
                    
                    <form action="{% url 'add_cart' product.id %}" method="post">
                        {% csrf_token %}
                        <div class="pricebeater">
                            <p>Found a better price? <a href="#">We can match it.</a></p>
                        </div>
                        <div class="product-action">
                            <div class="product-quantity-box">
                                <div class="quantity-wrapper">
                                    <span class="btn btn-quantity" id="subtract"><i class="fas fa-minus"></i></span>
                                    <input type="text" name="quantity" id="quantity" class="product-form-quantity" value="1" min="0">
                                    <span class="btn btn-quantity" id="add"><i class="fas fa-plus"></i></span>
                                </div>
                            </div>
                            <div class="product-item-submit">
                                <!-- <a href="{% url 'add_cart' product.id %}"><button type="button" class="btn btn-submit"><span class="fas fa-shopping-cart"></span> Add to cart</button></a> -->
                                <button type="submit" class="btn btn-submit"><span class="fas fa-shopping-cart"></span> Add to cart</button>
                            </div>
                        </div>
                        <div class="product-help-text">
                            <ul>
                                <li>
                                    <strong>Need help or product is sold out?
                                    <br>
                                    <a href="tel:+">Call (555) 555-1234</a> or <a href="mailto:">Email us</a>
                                    </strong>
                                </li>
                                <li><strong>Free expedited shipping on orders over $100</strong></li>
                            </ul>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <div class="row mt-5">
            <h1 class="product-description">Product Description</h1>
            <p class="product-detail">{{ product.description }}</p>
        </div>
    </div>
{% endblock %}