{% extends 'base.html' %}

{% load static %}

{% load humanize %}

{% block title %}{{ product.name }}{% endblock %}

{% block content %}
    <div class="container py-3">
        <div class="row mt-5">
            <div class="product-wrapper">
                <img src="{{ product.image.url }}" alt="">
            </div>
            <div class="product-wrapper">
                <div class="product-info">
                    <h1 class="product-title">{{ product.name }}</h1>
                    {% if reviews %}
                    <div class="review-average mb-10" data-rating="{{ ratings.average }}">
                        <div class="stars-outer">
                            <div class="stars-inner"></div>
                        </div>
                        <span class="number-reviews">{{ reviews.count }} review{% if reviews.count > 1 %}s{% endif %}</span>
                    </div>
                    {% else %}
                        <div class="review-average mb-10" data-rating="{{ ratings.average }}">
                            <div class="stars-outer"></div>
                        </div>
                        <span class="number-reviews"></span>
                    {% endif%}
                    <p class="product-sku">Product SKU:
                        <span class="variant-sku">UTOPIA</span>
                    </p>
                    <div class="product-quantity">
                        <p>
                            {% if product.stock <= 0 %}Out of stock
                            {% elif product.stock <= 10 %}Only {{ product.stock }} left in stock
                            {% else %}Buy now!{% endif %}
                        </p>
                    </div>
                    <div class="product-price">${{ product.price | intcomma }}</div>
                    <p class="monthly-price">Starting at ${{ twelve_monthly | intcomma }}/mo with 
                        <span class="affirm-logo">affirm</span>&nbsp;&nbsp;. 
                        <span class="affirm-modal-trigger">Prequalify now</span>
                    </p>

                    <!-- modal -->
                    <div class="affirm-modal">
                        <div class="affirm-modal-content">
                            <div class="affirm-modal-inner">
                                <div class="affirm-modal-header">
                                    <p class="affirm-logo">affirm</p>
                                    <h1 class="affirm-modal-title">Make easy monthly payments over 3, 6, or 12 months</h1>
                                    <p>Checking your eligibility won’t affect your credit.</p>
                                </div>
                                <div class="affirm-modal-body">
                                    <div>
                                        <p class="affirm-modal-body-title">Sample payments for ${{ product.price | intcomma }}</p>
                                    </div>
                                    <div class="affirm-modal-card-wrapper">
                                        <ul class="affirm-modal-list">
                                            <li class="affirm-modal-card">
                                                <div class="affirm-modal-card-header">
                                                    <div>
                                                        <p>${{ three_monthly | intcomma }} <span class="subscript">per month</span></p>
                                                    </div>
                                                    <div>
                                                        <p>3 <span class="subscript">months</span></p>
                                                    </div>
                                                </div>
                                                <div class="affirm-modal-card-body">
                                                    <div class="affirm-modal-card-info">
                                                        <p class="affirm-modal-card-info-header">APR</p>
                                                        <p>0.0%</p>
                                                    </div>
                                                    <div class="affirm-modal-card-info">
                                                        <p class="affirm-modal-card-info-header">Interest</p>
                                                        <p>$0.00</p>
                                                    </div>
                                                    <div class="affirm-modal-card-info">
                                                        <p class="affirm-modal-card-info-header">Total</p>
                                                        <p>${{ product.price | intcomma }}</p>
                                                    </div>
                                                </div>
                                            </li>
                                            
                                            <li class="affirm-modal-card">
                                                <div class="affirm-modal-card-header">
                                                    <div>
                                                        <p>${{ six_monthly | intcomma }} <span class="subscript">per month</span></p>
                                                    </div>
                                                    <div>
                                                        <p>6 <span class="subscript">months</span></p>
                                                    </div>
                                                </div>
                                                <div class="affirm-modal-card-body">
                                                    <div class="affirm-modal-card-info">
                                                        <p class="affirm-modal-card-info-header">APR</p>
                                                        <p>10.24%</p>
                                                    </div>
                                                    <div class="affirm-modal-card-info">
                                                        <p class="affirm-modal-card-info-header">Interest</p>
                                                        <p>${{ six_interest | intcomma }}</p>
                                                    </div>
                                                    <div class="affirm-modal-card-info">
                                                        <p class="affirm-modal-card-info-header">Total</p>
                                                        <p>${{ six_total | intcomma }}</p>
                                                    </div>
                                                </div>
                                            </li>
                                            
                                            <li class="affirm-modal-card">
                                                <div class="affirm-modal-card-header">
                                                    <div>
                                                        <p>${{ twelve_monthly | intcomma }} <span class="subscript">per month</span></p>
                                                    </div>
                                                    <div>
                                                        <p>12 <span class="subscript">months</span></p>
                                                    </div>
                                                </div>
                                                <div class="affirm-modal-card-body">
                                                    <div class="affirm-modal-card-info">
                                                        <p class="affirm-modal-card-info-header">APR</p>
                                                        <p>10.18%</p>
                                                    </div>
                                                    <div class="affirm-modal-card-info">
                                                        <p class="affirm-modal-card-info-header">Interest</p>
                                                        <p>${{ twelve_interest | intcomma }}</p>
                                                    </div>
                                                    <div class="affirm-modal-card-info">
                                                        <p class="affirm-modal-card-info-header">Total</p>
                                                        <p>${{ twelve_total | intcomma }}</p>
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <span class="affirm-modal-close-btn">&times;</span>
                        </div>
                    </div>
                    
                    <form action="{% url 'add_cart' product.id %}" method="post">
                        {% csrf_token %}
                        <div class="pricebeater">
                            <p><strong>Found a better price? <span class="price-match-modal-trigger">We can match it.</span></strong></p>
                        </div>
                        <div class="product-action">
                            <div class="product-quantity-box">
                                <div class="quantity-wrapper">
                                    <span class="btn btn-quantity" id="subtract" data-product="{{ product.id }}"><i class="fas fa-minus"></i></span>
                                    <input type="text" name="quantity" id="quantity{{ product.id }}" class="product-form-quantity" value="1" min="0">
                                    <span data-product="{{ product.id }}" class="btn btn-quantity" id="add"><i class="fas fa-plus"></i></span>
                                </div>
                            </div>
                            <div class="product-item-submit">
                                <button type="submit" class="btn btn-submit"><span class="fas fa-shopping-cart"></span> Add to cart</button>
                            </div>
                            {% if request.user.is_authenticated %}
                                {% if wishlist %}
                                    <div>
                                        <a href="{% url 'wishlist' %}" title="Already in your wishlist. Go to wishlist" class="btn wishlist-btn"><span class="fas fa-heart"></span></a>
                                    </div>
                                {% else %}
                                    <div>
                                        <a href="{% url 'add_to_wishlist' product.id %}" title="Add to wishlist" class=" btn wishlist-btn" id="addwishlist"><span class="far fa-heart"></span></a>
                                        <a href="{% url 'wishlist' %}" title="Already in your wishlist. Go to wishlist" class="btn wishlist-btn" id="go-to-wishlist"><span class="fas fa-heart"></span></a>
                                    </div>
                                {% endif %}
                            {% endif %}
                        </div>
                        <div class="product-help-text">
                            <ul>
                                <li>
                                    <strong>Need help or product is sold out?
                                    <br>
                                    <a href="tel:+">Call (555) 555-1234</a> or <a href="mailto:audio24.headphones@gmail.com">Email us</a>
                                    </strong>
                                </li>
                                <li><strong>Free expedited shipping on orders over $100</strong></li>
                            </ul>
                        </div>
                    </form>

                    <!-- price match modal -->
                    <div class="price-match-modal">
                        <div class="price-match-modal-content">
                            <div class="price-match-modal-inner">
                                <div class="price-match-modal-header">
                                    <h1 class="price-match-modal-title text-center">Price Match Inquiry</h1>
                                </div>
                                <div class="price-match-modal-body">
                                    <div class="container-fluid">
                                        <div class="row">
                                            <div class="offer-panel-product">
                                                <div class="product-image">
                                                    <img src="{{ product.image.url }}" alt="">
                                                </div>
                                                <h4>{{ product.name }}</h4>
                                                <p>${{ product.price | intcomma }}</p>
                                            </div>
                                            <div class="offer-panel-form">
                                                <p class="price-match-text">Fill out the information below and we will match the current pre-tax price for identical, immediately available products from authorized USA online dealers (with a 4 star rating or above) based on the total purchase price of our competitor, including shipping. <a href="{% url 'price_match_guarantee' %}">See our full policy</a>.</p>
                                                <div class="price-match-form-wrapper">
                                                    <div>
                                                        <label for="email">Email</label>
                                                        <input type="email" name="email" id="email">
                                                        <label for="phone">Phone</label>
                                                        <input type="text" name="phone" id="phone">
                                                        <label for="price">Price</label>
                                                        <input type="text" name="price" id="price">
                                                        <label for="url">Link to lower price</label>
                                                        <input type="text" name="url" id="url">
                                                        <div class="price-match-form-submit">
                                                            <label class="checkbox-container">I agree to&nbsp;<a href="{% url 'price_match_privacy' %}">privacy policy</a>
                                                                <input type="checkbox" id="price-match-checkbox">
                                                                <span class="checkmark"></span>
                                                            </label>
                                                            <button type="submit" class="btn btn-submit" id="price-match-submit" title="Please agree to privacy policy" disabled>Send</button>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="price-match-submitted">
                                                    <svg width="56" height="56" xmlns="http://www.w3.org/2000/svg">
                                                        <g>
                                                            <ellipse stroke="#3aafa9" ry="25.174826" rx="25.174826" id="mycircle" cy="28.000001" cx="28" stroke-width="2" fill="none"/>
                                                            <path stroke="#3aafa9" id="mycheck" d="m10.412061,30.953496l10.40055,10.547036l24.463265,-24.609752" stroke-width="2" fill="none"/>
                                                        </g>
                                                    </svg>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <span class="price-match-modal-close-btn">&times;</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="product-info-block mt-5">
            <h1 class="product-description">Product Description</h1>
            {{ product.description | safe }}
        </div>

        <div class="row mt-5">
            <div class="review-section-header">
                <h1 class="review-section-title">Reviews</h1><span class="review-count">{{ reviews.count }}</span>
            </div>
            {% if user.is_authenticated %}
                <div class="review-form-wrapper">
                    <form method="POST">
                        {% csrf_token %}
                        <label for="stars">Rating</label>
                        <input type="hidden" name="rating" value="0" class="stars">
                        <div class="stars-wrapper">
                            <span class="far fa-star star-rating">&nbsp;</span>
                            <span class="far fa-star star-rating">&nbsp;</span>
                            <span class="far fa-star star-rating">&nbsp;</span>
                            <span class="far fa-star star-rating">&nbsp;</span>
                            <span class="far fa-star star-rating">&nbsp;</span>
                        </div>
                        <label for="title">Title of Review</label>
                        <input type="text" name="title" id="title">
                        <label for="content">How was your overall experience?</label>
                        <textarea name="content"></textarea>
                        <button type="submit" class="btn btn-submit mt-15">Submit</button>
                    </form>
                </div>
            {% endif %}
                <div class="review-main">
                    <!-- {% if reviews %} -->
                        {% for review in reviews %}
                            <div class="review-wrapper">
                                <div class="review-header">
                                    <div class="review-avatar-wrapper">
                                        <div class="review-avatar">{{ review.user.first_name | slice:":1" }}{{ review.user.last_name | slice:":1" }}</div>
                                    </div>
                                    <div class="review-header-details">
                                        <div class="review-rating-content">
                                            <div class="review-author">{{ review.user.first_name }} {{ review.user.last_name }}</div>
                                            <div class="review-rating">
                                                {% if review.rating == 1 %}<span class="fas fa-star">&nbsp;</span><span class="far fa-star">&nbsp;</span><span class="far fa-star">&nbsp;</span><span class="far fa-star">&nbsp;</span><span class="far fa-star">&nbsp;</span>
                                                {% elif review.rating == 2 %}<span class="fas fa-star">&nbsp;</span><span class="fas fa-star">&nbsp;</span><span class="far fa-star">&nbsp;</span><span class="far fa-star">&nbsp;</span><span class="far fa-star">&nbsp;</span>
                                                {% elif review.rating == 3 %}<span class="fas fa-star">&nbsp;</span><span class="fas fa-star">&nbsp;</span><span class="fas fa-star">&nbsp;</span><span class="far fa-star">&nbsp;</span><span class="far fa-star">&nbsp;</span>
                                                {% elif review.rating == 4 %}<span class="fas fa-star">&nbsp;</span><span class="fas fa-star">&nbsp;</span><span class="fas fa-star">&nbsp;</span><span class="fas fa-star">&nbsp;</span><span class="far fa-star">&nbsp;</span>
                                                {% elif review.rating == 5 %}<span class="fas fa-star">&nbsp;</span><span class="fas fa-star">&nbsp;</span><span class="fas fa-star">&nbsp;</span><span class="fas fa-star">&nbsp;</span><span class="fas fa-star">&nbsp;</span>
                                                {% endif %}
                                            </div>
                                        </div>
                                        <div class="review-date-content">
                                            <div class="review-created">{{ review.created | date:"d M Y" }}</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="review-body">
                                    <div class="review-title">{{ review.title }}</div>
                                    <div class="review-content">{{ review.content }}</div>
                                </div>
                            </div>
                        {% endfor %}
                    <!-- {% endif %} -->
                </div>
        </div>
    </div>
{% endblock %}