{% extends 'base.html' %}

{% load static %}

{% block title %}Sign in{% endblock %}

{% block content %}
    <div class="container">
        <div class="row mt-5">
            {% if messages %}
                <div class="message-block">
                    {% for message in messages %}
                        {{ message }}
                    {% endfor %}
                    <span class="message-close-btn">&times;</span>
                </div>
            {% endif %}
            <h1 class="section-header">
                Login or Create a New Account
            </h1>
        </div>
        <div class="row">
            <div class="product-wrapper signup-form-wrapper">
                <h2 class="product-title">
                    New Customer
                </h2>
                <p>When you create an account you can see your order history.</p>
                <a href="{% url 'signup' %}"><button class="btn btn-submit mt-5">Create new account</button></a>
            </div>
            <div class="product-wrapper signup-form-wrapper">
                <h2 class="product-title">
                    Registered Customers Only
                </h2>
                <form method="post">
                    {% csrf_token %}
                    {{ form }}
                    <button type="submit" class="btn btn-submit mt-5">Sign In</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
