.contact-header {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 18px;
    margin-bottom: 10px;
    letter-spacing: 2px;
}

.contact-detail {
    margin-bottom: 20px;
}

.message-block {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 640px;
    margin: 0 auto;
    padding: 20px;
    background: var(--light);
}

.message-close-btn {
    position: absolute;
    top: 0;
    right: 15px;
    color: var(--primary-color);
    float: right;
    font-size: 2rem;
    cursor: pointer;
}

.message-close-btn:focus,
.message-close-btn:hover {
    color: var(--secondary-color);
    text-decoration: none;
}