:root {
    --primary-color: #3aafa9;
    --secondary-color: #ff5252;
    --dark: #17252a;
    --mid: #545E56;
    --light: #def2f1;
    --off-white: #feffff;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: var(--dark);
    font-family: 'Poppins', sans-serif;
}

body {
    background: var(--off-white);
}

.container {
    max-width: 100%;
    margin: 0 auto;
}

.py-5 {
    padding: 3rem 0;
}

.mt-5 {
    margin-top: 3rem;
}

.card-wrapper {
    flex: 0 0 75%;
    max-width: 75%;
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin: 0 auto;
}

.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    margin-bottom: 1.5rem;
}

.card img {
    width: 100%;
}

.card-footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 10px 10px;
}

.card-footer p {
    color: var(--dark);
    text-align: center;
}

.card-price p {
    font-weight: 600;
    color: var(--primary-color);
}

.product-wrapper {
    flex: 0 0 83.333333%;
    max-width: 83.333333%;
    margin: 1rem auto;
}

.product-wrapper p > a {
    text-decoration: none;
    color: var(--primary-color);
}

.product-wrapper p > a:hover {
    color: var(--secondary-color);
}

.product-title {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 18px;
    margin-bottom: 15px;
    letter-spacing: 0.02px;
}

.product-sku {
    margin-bottom: 4px;
    position: relative;
    font-size: 12px;
    font-weight: 500;
    text-transform: uppercase;
}

.variant-sku {
    left: 120px;
    position: absolute;
    font-weight: 400;
    text-transform: capitalize;
}

.product-quantity {
    letter-spacing: 0.5px;
    color: var(--primary-color);
    font-size: 13px;
    text-transform: uppercase;
    font-weight: 500;
    margin-bottom: 15px;
}

.product-price {
    font-size: 2rem;
    font-weight: 600;
}

.monthly-price {
    margin-bottom: 11px;
}

.affirm-logo {
    position: relative;
    font-weight: 600;
}

.affirm-logo::after {
    content: '';
    position: absolute;
    left: 26px;
    top: -5px;
    width: 30px;
    height: 15px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border: 2px solid var(--primary-color);
    border-bottom: 0;
    transform: rotate(30deg);
}

.modal-trigger {
    margin-left: 5px;
}

.product-description {
    font-weight: 700;
    text-transform: uppercase;
}

.quantity-wrapper {
    display: table;
}

.product-action {
    display: flex;
    padding: 10px 0 20px;
}

.product-quantity-box {
    margin-right: 10px;
}

.btn {
    border-radius: 0;
    border: none;
}

.btn-quantity, .product-form-quantity {
    padding: 10px 6px;
    width: 42px;
    height: 42px;
}

.btn-quantity {
    background: var(--light);
}

.btn-submit {
    background: var(--dark);
    color: #fff;
    height: 42px;
    padding: 0 50px;
    font-size: 1.1rem;
    font-weight: 600;
    text-transform: uppercase;
    cursor: pointer;
}

.fa-shopping-cart {
    color: #fff;
    margin-right: 10px;
}

.product-form-quantity {
    display: table-cell;
    line-height: normal;
    text-align: center;
    border: 2px solid var(--light);
}

@media (min-width: 576px) {
    .container {
        max-width: 540px;
    }
}

@media (min-width: 768px) {
    .container {
        max-width: 720px;
    }

    .card-wrapper {
        flex: 0 0 50%;
        max-width: 50%;
    }

    .product-wrapper {
        flex: 0 0 50%;
        max-width: 50%;
    }
}

@media (min-width: 992px) {
    .container {
        max-width: 960px;
    }

    .card-wrapper {
        flex: 0 0 25%;
        max-width: 25%;
    }
}

@media (min-width: 1200px) {
    .container {
        max-width: 1140px;
    }
}

.container-fluid {
    width: 100%;
    margin: 0 auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.hero {
    width: 100%;
}

.section-header {
    margin: 2rem 0;
    font-size: 2.5rem;
    font-weight: 600;
    color: var(--dark);
    text-align: center;
    width: 100%;
}

