:root {
    --primary-color: #3aafa9;
    --secondary-color: #ff5252;
    --dark: #17252a;
    --mid: #545E56;
    --light: #def2f1;
    --off-white: #feffff;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    height: 100%;
}

body {
    background: var(--off-white);
    color: var(--dark);
    font-family: 'Poppins', sans-serif;
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

.container {
    max-width: 100%;
    margin: 0 auto;
}

footer {
    background: var(--dark);
    color: #fff;
    text-align: center;
    padding: 3rem;
    margin-top: auto;
}

a:link, a:visited {
    text-decoration: none;
    color: var(--primary-color);
}

a:hover, a:active {
    color: var(--secondary-color);
}

.text-left {
    text-align: left;
}

.py-5 {
    padding: 3rem 0;
}

.mt-5 {
    margin-top: 3rem;
}

.mx-5 {
    margin: 0 5px;
}

.card-wrapper {
    flex: 0 0 75%;
    max-width: 75%;
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin: 0 auto;
}

.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    margin-bottom: 1.5rem;
}

.card img {
    width: 100%;
}

.card-footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 10px 10px;
}

.card-footer p {
    color: var(--dark);
    text-align: center;
}

.card-price p {
    font-weight: 600;
    color: var(--primary-color);
}

.product-wrapper {
    flex: 0 0 83.333333%;
    max-width: 83.333333%;
    margin: 1rem auto;
}

.product-wrapper a {
    text-decoration: none;
    color: var(--primary-color);
}

.product-wrapper a:hover {
    color: var(--secondary-color);
}

.product-wrapper li {
    font-size: 13px;
    line-height: 24px;
    list-style-type: square;
}

.product-wrapper img {
    width: 100%;
    padding: 30px;
}

.product-title, .product-description {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 18px;
    margin-bottom: 15px;
    letter-spacing: 0.02px;
}

.product-sku {
    margin-bottom: 4px;
    position: relative;
    font-size: 12px;
    font-weight: 500;
    text-transform: uppercase;
}

.variant-sku {
    left: 120px;
    position: absolute;
    font-weight: 400;
    text-transform: capitalize;
}

.product-quantity {
    letter-spacing: 0.5px;
    color: var(--primary-color);
    font-size: 13px;
    text-transform: uppercase;
    font-weight: 500;
    margin-bottom: 15px;
}

.product-price {
    font-size: 2rem;
    font-weight: 600;
}

.monthly-price {
    margin-bottom: 11px;
}

.affirm-logo {
    position: relative;
    font-weight: 600;
}

.affirm-logo::after {
    content: '';
    position: absolute;
    left: 26px;
    top: -5px;
    width: 30px;
    height: 15px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border: 2px solid var(--primary-color);
    border-bottom: 0;
    transform: rotate(30deg);
}

.modal-trigger {
    margin-left: 5px;
}

.product-description {
    font-weight: 700;
    text-transform: uppercase;
    padding: 0 20px;
}

.product-detail {
    padding: 20px;
    margin-bottom: 50px;
}

.quantity-wrapper {
    display: flex;
}

.quantity-wrapper a:link,
.quantity-wrapper a:visited,
.quantity-wrapper a:active,
.quantity-wrapper a:hover {
    color: #fff;
}

.product-action {
    display: flex;
    padding: 10px 0 20px;
}

.product-quantity-box {
    margin-right: 10px;
}

.btn {
    border-radius: 0;
    border: none;
    outline: none;
    cursor: pointer;
}

.btn-quantity, .product-form-quantity {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 6px;
    width: 42px;
    height: 42px;
}

.btn-quantity {
    background: var(--primary-color);
    color: #fff;
}

.btn-submit {
    background: var(--dark);
    color: #fff;
    height: 42px;
    padding: 0 50px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
}

.fa-shopping-cart {
    color: #fff;
    margin-right: 10px;
}

.product-form-quantity {
    /* display: table-cell;
    line-height: normal; */
    text-align: center;
    border: 2px solid var(--primary-color);
    outline: none;
}

.cart-wrapper {
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    flex: 0 0 100%;
    max-width: 100%;
    text-align: center;
}

table {
    display: block;
    width: 100%;
    margin-bottom: 30px;
}

thead, td, tr, tbody {
    display: block;
}

td {
    border-bottom: 1px solid var(--light);
    padding: 10px;
    text-align: left;
}

thead > tr {
    display: none;
}

th {
    font-weight: 700;
    padding: 10px 0 8px;
    background: var(--light);
    text-transform: uppercase;
    padding-left: 15px;
    padding-right: 15px;
    letter-spacing: 1px;
}

table img {
    width: 100px;
    height: auto;
    padding: 10px;
}

tr {
    border: 1px solid var(--light);
    border-bottom: none;
}

tr:last-child {
    border-bottom: 1px solid var(--light);
}

.table-responsive-header {
    display: block;
    font-weight: bold;
}

.cart-image {
    border-bottom: none;
    text-align: center;
}

@media (min-width: 576px) {
    .container {
        max-width: 540px;
    }

    .cart-wrapper {
        flex: 0 0 100%;
        max-width: 100%;
    }
}

@media (min-width: 768px) {
    .container {
        max-width: 720px;
    }

    .card-wrapper {
        flex: 0 0 50%;
        max-width: 50%;
    }

    .product-wrapper {
        flex: 0 0 50%;
        max-width: 50%;
    }

    .cart-wrapper {
        flex: 0 0 100%;
        max-width: 100%;
    }

    table {
        display: table;
        border-collapse: collapse;
        border-spacing: 0;
    }

    thead {
        display: table-header-group;
        vertical-align: middle;
    }

    thead > tr, tr {
        display: table-row;
        border-bottom: 1px solid var(--light);
    }

    tbody {
        display: table-row-group;
        vertical-align: middle;
    }

    .table-responsive-header {
        display: none;
    }

    td {
        display: table-cell;
        text-align: center;
    }
}

@media (min-width: 992px) {
    .container {
        max-width: 960px;
    }

    .card-wrapper {
        flex: 0 0 25%;
        max-width: 25%;
    }

    .cart-wrapper {
        flex: 0 0 50%;
        max-width: 50%;
    }
}

@media (min-width: 1200px) {
    .container {
        max-width: 1140px;
    }
}

.container-fluid {
    width: 100%;
    margin: 0 auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.hero {
    width: 100%;
}

.section-header {
    margin: 2rem 0;
    font-size: 2.5rem;
    font-weight: 600;
    color: var(--dark);
    text-align: center;
    width: 100%;
}

