/* affirm modal */

.affirm-modal-trigger {
    color: var(--primary-color);
    cursor: pointer;
}

.affirm-modal-trigger:hover {
    color: var(--secondary-color);
}

.affirm-modal,
.price-match-modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background: rgba(0, 0, 0, .8);
    z-index: 2;
    animation-name: modalopen;
    animation-duration: 0.6s;
}

.affirm-modal-title,
.price-match-modal-title {
    font-size: 26px;
}

.affirm-modal-content {
    position: relative;
    display: flex;
    max-width: 640px;
    background: var(--off-white);
    padding: 20px;
    padding-bottom: 50px;
    animation-name: modalopen;
    animation-duration: 0.8s;
}

.affirm-modal-inner {
    margin: 0 auto;
    max-width: 416px;
    min-height: 250px;
    width: 100%;
}

.affirm-modal-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 60px;
    text-align: center;
}

.affirm-modal-close-btn,
.price-match-modal-close-btn {
    position: absolute;
    top: 0;
    color: var(--primary-color);
    float: right;
    font-size: 2rem;
    cursor: pointer;
}

.affirm-modal-close-btn:hover,
.affirm-modal-close-btn:focus,
.price-match-modal-close-btn:hover,
.price-match-modal-close-btn:focus {
    color: var(--secondary-color);
    text-decoration: none;
}

.affirm-modal-body {
    margin-top: 32px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.affirm-modal-body-title {
    margin-bottom: 30px;
    font-weight: 600;
}

.affirm-modal-card-wrapper {
    width: 100%;
}

.affirm-modal-list {
    display: block;
}

.affirm-modal-card {
    padding: 15px;
    box-shadow: 0 2px 4px rgba(6,8,9,.16);
    list-style: none !important;
    margin-bottom: 20px;
}

.affirm-modal-card-header,
.affirm-modal-card-body {
    display: flex;
    justify-content: space-between;
}

.affirm-modal-card-header {
    font-weight: 700;
    color: var(--primary-color);
    font-size: 18px;
    margin-bottom: 15px;
}

.affirm-modal-card-info {
    margin-right: 10px;
}

.affirm-modal-card-info-header {
    font-weight: 700;
}

/* price match modal */

.price-match-modal-trigger {
    color: var(--primary-color);
    cursor: pointer;
}

.price-match-modal-trigger:hover {
    color: var(--secondary-color);
}

.price-match-modal-content {
    position: relative;
    display: flex;
    max-width: 800px;
    background: var(--off-white);
    padding: 20px;
    /* padding-bottom: 50px; */
    animation-name: modalopen;
    animation-duration: 0.8s;
}

.price-match-modal-inner {
    width: 100%;
}

.offer-panel-product,
.offer-panel-form {
    position: relative;
    width: 100%;
    min-height: 1px;
}

.product-image {
    text-align: center;
    margin-bottom: 15px;
}

.price-match-text {
    margin: 20px 20px 0 20px;
    padding-bottom: 20px;
    border-bottom: 2px solid var(--primary-color);
}

.price-match-form-submit {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
}

.checkbox-container {
    display: block;
    position: relative;
    cursor: pointer;
    padding: 0 0 0 35px !important;
}

.checkbox-container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    border: 2px solid var(--primary-color);
}

.checkmark:hover {
    background: var(--light);
}

.checkbox-container input:checked ~ .checkmark {
    background: var(--primary-color);
}

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.checkbox-container input:checked ~ .checkmark:after {
    display: block;
}

.checkbox-container .checkmark:after {
    left: 6px;
    top: 3px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

#mycircle {
    stroke-dashoffset: 1000;
    stroke-dasharray: 1000;
    animation: stroke 4s ease-in-out forwards
}

#mycheck {
    stroke-dashoffset: 1000;
    stroke-dasharray: 1000;
    animation: stroke 4s ease-in-out 1s forwards
}

.price-match-form-wrapper {
    display: block;
}

.price-match-submitted {
    height: 200px;
    display: none;
    align-items: center;
    justify-content: center;
    /* margin-top: 50px; */
}

@keyframes modalopen {
    from { opacity: 0;}
    to { opacity: 1;}
}

@keyframes stroke {
    to {
        stroke-dashoffset: 0;
    }
}

@media (min-width: 576px) {
    .offer-panel-product {
        flex: 0 0 33.3333333333%;
        max-width: 33.3333333333%;
    }

    .offer-panel-form {
        flex: 0 0 66.6666666667%;
        max-width: 66.6666666667%;
    }
}

@media (min-width: 768px) {
    .affirm-modal-content {
        margin: 100px auto;
    }

    .price-match-modal-content {
        margin: 100px auto;
    }
}