nav {
    background: var(--dark);
}

nav::after {
    content: '';
    clear: both;
    display: table;
}

nav .logo {
    float: left;
    color: #fff;
    font-size: 27px;
    font-weight: 600;
    line-height: 70px;
    padding-left: 60px;
}

nav ul {
    float: right;
    list-style: none;
    margin-right: 40px;
    position: relative;
}

nav ul li {
    display: inline-block;
    margin: 0 5px;
    background: var(--dark);
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    line-height: 70px;
    font-size: 18px;
    padding: 8px 20px;
}

nav ul li a:hover {
    color: var(--primary-color);
}

nav ul ul {
    position: absolute;
    top: 90px;
    opacity: 0;
    visibility: hidden;
    transition: top .2s ease;
    border-top: 3px solid var(--primary-color);
}

nav ul li:hover > ul {
    opacity: 1;
    visibility: visible;
    top: 70px;
}

nav ul ul li {
    position: relative;
    margin: 0px;
    width: 150px;
    float: none;
    display: list-item;
    border-bottom: 1px solid var(--mid);
}

nav ul ul li a {
     line-height: 50px;
}

.show, .icon, .hide {
    display: none;
}

.form-control {
    border: none;
    background: none;
    border-bottom: 2px solid #fff;
    margin: 15px 10px 15px 20px;
    outline: none;
    font-size: 18px;
    color: #fff;
}

.form-control:focus {
    border-bottom: 2px solid var(--primary-color);
}

.search-btn {
    background: none;
    color: #fff;
    font-size: 18px;
    border: none;
    outline: none;
    cursor: pointer;
}

.search-btn:hover i {
    color: var(--primary-color);
}

@media all and (max-width: 900px) {
    nav ul {
        margin-right: 0px;
        float: left;
    }

    nav .logo {
        padding-left: 30px;
        width: 100%;
    }

    nav ul li, nav ul ul li {
        display: block;
        width: 100%;
    }

    nav ul ul {
        top: 70px;
        position: static;
        border-top: none;
        float: none;
        display: none;
        opacity: 1;
        visibility: visible;
    }

    .show {
        display: block;
        color: #fff;
        font-size: 18px;
        padding: 0 20px;
        line-height: 70px;
        cursor: pointer;
    }
    
    .show:hover {
        color: var(--primary-color);
    }

    .icon {
        display: block;
        color: #fff;
        position: absolute;
        right: 40px;
        top: 35px;
        line-height: 70px;
        font-size: 25px;
        cursor: pointer;
    }

    .nav-icon {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .nav-icon,
    .nav-icon::before,
    .nav-icon::after {
        width: 30px;
        height: 3px;
        background: #fff;
        display: inline-block;
        transition: all .2s cubic-bezier(.5,-0.48,.55,1.39);
    }

    .nav-icon::before,
    .nav-icon::after {
        content: '';
        position: absolute;
        left: 0;
    }

    .nav-icon::before {
        top: -10px;
    }

    .nav-icon::after {
        top: 10px;
    }

    .nav-check:checked + .icon .nav-icon::before {
        top: 0;
        transform: rotate(135deg)
    }

    .nav-check:checked + .icon .nav-icon::after {
        top: 0;
        transform: rotate(-135deg)
    }

    .nav-check:checked + .icon .nav-icon {
        background-color: transparent;
    }

    nav ul ul a {
        padding-left: 40px;
    }

    nav ul ul li {
        border-bottom: 0px;
    }

    .show + a, ul {
        display: none;
    }

    [id^=btn]:checked ~ ul {
        display: block;
    }

    form {
        margin-bottom: 50px;
    }
}