.review-main {
    width: 100%;
    margin-bottom: 50px;
}

.review-wrapper {
    margin: 20px;
    padding: 20px 0;
    border-bottom: 2px solid var(--primary-color);
}

.review-section-header {
    display: flex;
    margin-left: 20px;
    border-bottom: 2px solid var(--primary-color);
    padding-bottom: 10px;
}

.review-section-title {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 18px;
    letter-spacing: 2px;
}

.review-count {
    padding: 2px 5px;
    margin-left: 10px;
    background: var(--light);
}

.review-avatar-wrapper {
    position: relative;
}

.review-avatar {
    position: absolute;
    background: var(--light);
    padding: 15px;
    border-radius: 50%;
    font-size: 20px;
    color: var(--mid);
    font-weight: 500;
}

.review-header-details {
    display: flex;
    justify-content: space-between;
    margin-left: 70px;
}

.review-author,
.review-title {
    font-weight: 700;
}

.review-rating > span {
    font-size: 14px;
}

.review-created {
    color: var(--mid);
    font-size: 14px;
}

.review-body {
    margin-top: 20px;
}

.review-content {
    color: var(--mid);
}

.stars-outer {
    position: relative;
    display: inline-block;
}

.stars-inner {
    position: absolute;
    top: 0;
    left: 0;
    white-space: nowrap;
    overflow: hidden;
    width: 0;
}

.stars-outer::before {
    content: "\f005 \f005 \f005 \f005 \f005";
    font-family: "Font Awesome 5 Free";
    font-weight: 200;
    color: var(--primary-color);
}

.stars-inner::before {
    content: "\f005 \f005 \f005 \f005 \f005";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    color: var(--primary-color);
}
  